<!-- views/flights/show.ejs -->
<%- include('../partials/header') %>
<h2>Flight Details</h2>
<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
<h2>Destinations</h2>
  <ul>
    <% flight.destinations.forEach(function(destination) { %>
      <li><%= destination.airport %> - <%= destination.arrival %></li>
    <% }) %>
  </ul>

<h2>Add Destination</h2>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Airport:
    <select name="airport">
      <option value="DEN">DEN</option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Arrival Date/Time:
    <input type="datetime-local" name="arrival" required>
  </label><br>
  <button type="submit">Add</button>
</form>

<!-- List of existing tickets for this flight -->
<h3>Tickets:</h3>
<ul>
  <% tickets.forEach(function(ticket) { %>
    <li><%= ticket.seat %> - <%= ticket.price %></li>
    <% }) %>
  </ul>
  <!-- Link/button to create a new ticket -->
  <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>

<%- include('../partials/footer') %>