<!-- views/flights/show.ejs -->
<%- include('../partials/header') %>
  <h2>Flight Details</h2>
  <h4>Airline----<%= flight.airline %></h4>

  <h4>Airport----<%= flight.airport %></h4>
    
  <h4>FlightNo---<%= flight.flightNo %></h4>
    
  <h4>Departs----<%= flight.departs %></h4>
<%- include('../partials/footer') %>